// Quill theme
@import '../../../node_modules/quill/dist/quill.snow';

.loading-icon {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto;

    &[opacity-10] {
        opacity: 0.3;
    }
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
